* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  transition-property: color;
  transition-duration: 0.15s;
}