/* navbar */
.svg-icon {
  width: 50px;
  height: 50px;
}

.nav-item {
  a {
    color: white;

    &:hover {
      color: #b1b1b1;
    }
  }
}

/* header */
.header {
  background-color: #B95E82;
  color: white;

  p {
    font-weight: 700;
  }
}

/* main content */
.main-content {
  color: #87284E;
}

/* footer */
.footer {
  background-color: #B95E82;
  color: white;
}

.custom-text-p {
  color: #B95E82;
}