/* main content */
.banner {
  height: 60vh;

  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-bottom: 5px solid #87284E;
  }
}

.primary-text {
  background-color: #87284E;
  color: white;
}


.card {

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-body {
    h5 {
      color: #87284E;
    }

    p {
      color: #B95E82;
    }
  }

  img {
    height: 20vh;
    object-fit: cover;
  }

  .btn {
    background-color: #87284E;
    color: white;

    &:hover {
      background-color: #87284E;
      color: white;
      filter: brightness(1.25);
    }
  }
}