/* main content */
.main-content {
  min-height: 100vh;
}

/* main-banner */
.main-banner {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;
  padding: 0 20px;

  background-color: #ffb9b9;
  background-image: url("/assets/rio-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: 30px;
    background-color: #87284E;
    color: white;
    text-align: center;
    padding: 20px;
  }
}

.banner-text {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 50%;
}



/* main section */
.main-section {
  border: 1px solid red;
  margin-top: 40px;
  margin: 80px 120px 20px 120px;
  color: #87284E;

  h1 {
    font-size: 65px;
  }

  span {
    font-size: 30px;
  }
}


/* responsive design */
@media (max-width: 500px) {

  /* main content */
  .main-content {
    margin-top: 85px;
  }

  /* main banner */
  .main-banner p {
    font-weight: 100;
  }

  /* main section */
  .main-section {
    margin: 80px 10px 20px 10px;
    border: 1px solid red;

    text-align: center;

    h1 {
      font-size: 32px;
    }

    span {
      font-weight: 300;
    }
  }
}