body {
  background-color: #F39F9F;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;
  background-color: #ffb9b9;
  padding: 0 20px;
}

.slogan p {
  font-size: 50px;
  color: #87284E;
  text-align: center;
}

.slogan span {
  color: #87284E;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}


/* responsive design */
@media (max-width: 500px) {
  .slogan p {
    font-weight: 200;
    font-size: 30px;
  }

  .slogan span {
    font-size: inherit;
  }
}